extends layout

block content

    h1= title
    .about
        p
            | Express Blog adalah Aplkasi Blog Sederhana yang saya buat dalam rangka belajar NodeJS dan MongoDB
            | Untuk Menghubungi Saya Silahkan follow akun github saya dan akses facebook saya disini
        a(href="http://www.facebook.com") Facebook Saya