extends layout

block content
  if posts
  each post, i in posts 
   .post
    h1
     a(href='/posts/show/' + post._id)
      =post.title
    p.meta Posted in &nbsp;
      a(href="/categories/show/" + post.category) #{post.category}
      | &nbsp; by #{post.author}
      | on #{moment(post.date).format('MM-DD-YYYY')}
    
    img(src="/images/" + post.mainimage.filename, alt="Post Image")
    != truncateText(post.body,255)
    a.more(href="/posts/show/" + post._id) Read More
  else
    p(style="text-align: center; margin-top : 10px; padding: 20px; background-color: #ccc;") Tidak Ada Posting Tersedia